/* Add styles for dropdown menu */
.nav-link.dropdown-menu {
  display: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
}


.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}
